@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.sform {
  padding-bottom: 2rem;

  @include tablet {
    margin: 0rem 6rem;
  }

  @include desktop {
    margin: 0rem 10rem;
  }

  &__heading {
    background-color: $aqua;
    margin: 0rem 0rem;
    color: $white;
    text-align: center;
    justify-content: center;
    padding: 1rem 0rem;
    border-radius: 5px;
  }

  &__title {
    margin: 0rem;
    font-weight: 300;

    @include tablet {
      font-size: 2.5rem;
    }
  }

  &__ctawrap {
    display: flex;
    justify-content: center;
    gap:0.5rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    font-weight: 300;
   
  }

  &__icon{
    height:1.875rem;
    width: 1.875rem;
    margin-top: 0.5rem;
    
  }

  &__text {
    margin-top: 0rem;
    padding-top: 1rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0rem 1rem;

  @include tablet {
    margin: 0rem;
  }

  &__inputwrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75rem;

    @include tablet {
      width: 100%;
    }
  }

  &__label {
    font-size: small;
    margin-bottom: 0.25rem;
  }

  &__field {
    height: 1.5rem;
    border-radius: 5px;
    outline: none;
    border: 1.5px solid $aqua;

    &:focus {
      outline: none;
    }

    @include tablet {
      height: 2rem;
    }
  }

  &__stylewrap {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      gap: 2rem;
    }
  }

  &__submit {
    background-color: $orange;
    height: 2rem;
    border: none;
    border-radius: 10px;
    color: $white;
    font-size: 0.9rem;

    @include tablet {
      width: 7rem;
      padding: 0rem 0.5rem;
      justify-content: flex-end;
      align-self: last baseline;
    }
  }

  &__terms {
    font-size: 0.75rem;
  }

  &__existing {
    text-align: right;
    font-size: 0.75rem;
    display: flex;
    justify-content: flex-end;
  }

  &__login,
  &__signup {
    color: $green;
    font-weight: bold;
  }
}

::placeholder {
  color: $placeholder;
}
