@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.sform {
  padding-bottom: 4rem;

  @include tablet {
    margin: 0rem 6rem;
  }

  @include desktop {
    margin: 0rem 10rem;
  }

  &__heading {
    background-color: $aqua;
    margin: 0rem 0rem;
    color: $white;
    text-align: center;
    justify-content: center;
    padding: 1rem 0rem;
    border-radius: 5px;
  }

  &__title {
    margin: 0rem;
    font-weight: 300;

    @include tablet {
      font-size: 2.5rem;
    }
  }

  &__subheads {
    margin-bottom: 0.5rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0rem 1rem;
  padding-top: 1.5rem;

  @include tablet {
    margin: 0rem;
  }

  &__inputwrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75rem;

    @include tablet {
      width: 100%;
    }
  }

  &__label {
    font-size: small;
    margin-bottom: 0.25rem;
  }

  &__field {
    height: 1.5rem;
    border-radius: 5px;
    outline: none;
    border: 1.5px solid $aqua;

    &:focus {
      outline: none;
    }

    @include tablet {
      height: 2rem;
    }
  }

  &__stylewrap {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      gap: 2rem;
    }
  }

  &__editdaycare {
    background-color: $orange;
    height: 2rem;
    border: none;
    border-radius: 10px;
    color: $white;
    font-size: 0.9rem;
    margin-top: 1rem;

    @include tablet {
      width: 7rem;
      padding: 0rem 0.5rem;
      justify-content: flex-end;
      align-self: last baseline;
    }
  }
}

::placeholder {
  color: $placeholder;
}

.access {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin: 2rem;

  @include tablet {
    padding: 2rem 4rem;
  }

  @include desktop {
    padding: 2rem 8rem;
  }

  &__btns {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 1rem;
  }

  &__btn {
    width: 6rem;
  }
}

.form__textarea {
  font-family: inherit;
  height: 6rem;
}
