@use "../styles/partials/mixins" as *;
@use "../styles/partials/typography" as *;
@use "../styles/partials/variables" as *;
.App {
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  background-color: white;

}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

textarea {
  font-family: inherit;
  height: fit-content;
}

.hover-pointer:hover {
  cursor: pointer;
  color: $green;
}
