@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.main {
  margin-top: 0rem;
  width: 100%;
  padding: 0rem 2rem;
  // background-color: aqua;

  @include tablet {
    margin-top: 0rem;
    padding: 0rem 4rem;
  }

  @include desktop {
    padding: 0rem 8rem;
  }
}

.wrapper {
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(19, 24, 44, 0.1);
  margin: 0rem;
  padding-top: 0rem;
  padding-bottom: 2rem;
  

  @include tablet {
    margin: 0rem 0rem;
  }

  @include desktop {
    margin: 0rem 0rem;
  }
}
