@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.searchcontainer {
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
  justify-content: center;
  position: fixed;

  top: 12.8vh;
  width: 100%;
  width: calc(100% - 4rem);
  padding: 0rem 1rem 2rem;

  @include tablet {
    top: 13vh;
    width: calc(100% - 8rem);
  }

  @include desktop {
    top: 13vh;
    width: calc(100% - 16rem);
  }

  &__sicon {
    position: absolute;
    top: 16%;
    left: 6%;

    @include tablet {
      top: 16%;
      left: 23.3%;
    }

    @include desktop {
      top: 19%;
      left: 22%;
    }
  }

  &__box {
    height: 3rem;
    border-radius: 15px;
    outline: none;
    border: 2px solid $aqua;
    width: 100%;
    padding-left: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;

    &:focus {
      outline: none;
    }

    &:focus::placeholder {
      color: transparent;
    }

    @include tablet {
      width: 60%;
      padding-left: 2.9rem;
    }
  }

  ::placeholder {
    color: $placeholder;
  }
}

.home {
  padding-top: 3.5rem;
  margin-bottom: 1rem;

  @include tablet {
    margin: 0rem 0rem;
  }

  @include desktop {
    margin: 0rem 0rem;
  }
}

.daycarewrapper {
  padding: 1rem 1rem 2rem;
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
  }

  @include desktop {
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
  }
}

.daycarewrapper::after {
  @include tablet {
    content: "";
    flex-grow: 9999;
  }
}

.daycare {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border-radius: 15px;

  @include tablet {
    width: calc(33.33% - 0.67rem);
    border-bottom: 2rem;
  }

  @include desktop {
    width: calc(25% - 0.75rem);
  }

  &__imagewrap {
    width: 100%;
    height: 15rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0 rgba(7, 101, 104, 0.1);
  }

  &__cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0 rgba(7, 101, 104, 0.1);
  }

  &__namewrap {
    display: flex;
  }

  &__nameicon {
    height: 1.75rem;
    width: 1.5rem;
    margin-top: 0.1rem;
  }

  &__name {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    font-weight: bold;
  }

  &__price,
  &__hours {
    margin-top: 0rem;
  }

  &__notfound {
    margin-top: 1rem;
    text-align: left;
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

.menu-open {
  top: 36vh;
  @include tablet {
    top: 13vh;
  }
  @include desktop {
    top: 13h;
  }
}
